### Self-Hosted Runners used for non-docker jobs ###

name: Module CI & Documentation

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_call:
    inputs:
      module_level:
        description: Possible values are [1|2|3|4]. Indicates the modular level for which this workflow should run.
        required: true
        type: number
      terraform_working_directory:
        description: The working directory terraform uses in a monorepo with multiple workspaces.
        type: string  
        default: '.'      

env:
  TFLINT_VERSION: v0.39.3
  TFSEC_VERSION: latest
  TFC_VERSION: 1.8.3
  
jobs:
  tflint:
    name: Linting
    runs-on: ubuntu-latest
    #runs-on: [self-hosted, Linux, X64, ecs]
    steps:
    - name: Checkout 
      uses: actions/checkout@v3

    - name: Compliance Check
      id: out
      if: (inputs.module_level != 1)
      uses: nguyenvanuyn96/str-find-action@master
      with:
        find: 'resource "'
      
    - name: Compliance Check Failed
      if: (steps.out.outputs.fileFoundCount > 0) && (inputs.module_level != 1)
      run: |  
        echo "Instantiation of resource blocks is ONLY permitted in L1 repos"
        exit 1
          
    - name: TFLint - Setup
      uses: terraform-linters/setup-tflint@v2
      with:
        tflint_version: ${{ env.TFLINT_VERSION }}
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: TFLint - Version
      working-directory: ${{ inputs.terraform_working_directory }}
      run: tflint --version

    - name: TFLint - Initialize
      working-directory: ${{ inputs.terraform_working_directory }}
      run: tflint --init

    - name: TFLint - Run
      working-directory: ${{ inputs.terraform_working_directory }}
      run: tflint -f compact
  
  tfsec:
    name: Security Checks
    runs-on: ubuntu-latest
    #runs-on: [self-hosted, Linux, X64, ecs]
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: TFSec
      uses: aquasecurity/tfsec-action@v1.0.0
      with:
        soft_fail: true
        working_directory: ${{ inputs.terraform_working_directory }}
        version: ${{ env.TFSEC_VERSION }}
        
  checkov:
    name: Policy Checks
    runs-on: ubuntu-latest
    #runs-on: [self-hosted, Linux, X64, ecs]
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Checkov
      uses: bridgecrewio/checkov-action@v12.1347.0
      with:
        quiet: false
        soft_fail: false
        directory: ${{ inputs.terraform_working_directory }}
        skip_check: CKV_TF_1
        framework: terraform
        output_format: sarif
        download_external_modules: false
        log_level: WARNING
        
  terraform:
    needs: [tflint, tfsec, checkov]
    name: Terraform Validation
    runs-on: ubuntu-latest
    #runs-on: [self-hosted, Linux, X64, ecs] temp
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Terraform - Setup
      uses: hashicorp/setup-terraform@v2
      with: 
        terraform_version: ${{ env.TFC_VERSION }}
        cli_config_credentials_hostname: ${{ secrets.TFC_ADDR }}
        cli_config_credentials_token: ${{ secrets.TFC_TOKEN }}

    - name: Terraform - Init
      working-directory: ${{ inputs.terraform_working_directory }}
      run: |
        if [ -f providers.tf ]; then
          sed -r -i 's/(\/\*)?\s*TERRAFORM_VALIDATION_DO_NOT_MODIFY\s*(\*\/)?//M' providers.tf
        fi      
        terraform init

    - name: Terraform - Validate
      working-directory: ${{ inputs.terraform_working_directory }}
      run: terraform validate -no-color
      
    - name: Terraform - Speculative Plan
      if: ${{ inputs.module_level == 4 }}
      working-directory: ${{ inputs.terraform_working_directory }}
      run: terraform plan

  documentation:
    if: ${{ inputs.module_level != 4 && github.event_name != 'pull_request' }}
    name: Documentation
    needs: [tflint, tfsec, checkov]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Render Documentation
      uses: terraform-docs/gh-actions@main
      with:
        output-method: replace
        git-push: "true"
        working-dir: ${{ inputs.terraform_working_directory }}


#   module_info:
#     if: ${{ inputs.module_level != 4 }}
#     name: Module Info
#     needs: [tflint, tfsec, checkov]
#     runs-on: ubuntu-latest
#     outputs:
#       module_name: ${{ steps.module_info.outputs.module_name }}
#       module_path: ${{ steps.module_info.outputs.module_path }}    
#       module_url: ${{ steps.module_info.outputs.module_url }}  
#     steps:
#     - name: Get Module Info
#       id: module_info
#       shell: pwsh
#       run: |      
#         $parts = '${{ github.repository }}' -split '/'
#         $owner = $parts[0]
#         $repo = $parts[1]
#         $moduleName = $repo -replace 'terraform-([^>]*)-(l\d-.*)', '$2'
#         $modulePath = $repo -replace 'terraform-([^>]*)-(l\d-.*)', '$2/$1'
#         $moduleUrl = "https://app.terraform.io/app/cartdotcom/registry/modules/private/cartdotcom/$modulePath"
#         echo "module_name=$moduleName" | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append
#         echo "module_path=$modulePath" | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append
#         echo "module_url=$moduleUrl" | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append        

#     - name: Get Latest Release
#       id: latest_release
#       shell: pwsh
#       run: |
#         $tagName = gh api /repos/${{ github.repository }}/releases/latest --jq '.tag_name'
#         $commit = gh api /repos/${{ github.repository }}/commits/${{ github.sha }} | ConvertFrom-Json
#         Write-Host "Latest release: $tagName"

#         $shortCommit = $commit.sha.SubString(0, 7)
#         echo "tag_name=$tagName" | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append
#         echo "commit_message=$($commit.commit.message)" | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append
#         echo "commit_url=$($commit.html_url)" | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append
#         echo "commit_sha_short=$shortCommit" | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}    

#     - name: Calculate Next Release
#       id: next_release
#       shell: pwsh
#       run: |
#         echo @"
#         body: ${{ steps.latest_release.outputs.commit_message }} 
#         "@

#         $currentTag = '${{ steps.latest_release.outputs.tag_name }}'
#         echo "Current Tag: $currentTag"
#         if (-not ($currentTag -match '^(.*?)(\d+)$')) {
#           echo 'Invalid current version.'
#           exit -1          
#         }

#         $nextVersion = [int]$Matches[2]
#         $nextVersion++
#         $fullVersion = "$($Matches[1])$nextVersion"
#         echo "Next Tag: $fullVersion"
#         echo "release_tag=$fullVersion" | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append

#         $moduleName = '${{ needs.module_info.outputs.module_name }}'
#         $modulePath = '${{ needs.module_info.outputs.module_path }}'
#         $moduleUrl = '${{ needs.module_info.outputs.module_url }}'

#         $summary = @"
#         | Name    | Value                        |
#         |---------|------------------------------|
#         | Module  | [$moduleName]($moduleUrl) |
#         | Release | [$fullVersion](https://github.com/${{ github.repository }}/releases/tag/$fullVersion) |
#         | Commit  | [${{ steps.latest_release.outputs.commit_sha_short }}](${{ steps.latest_release.outputs.commit_url }}) |

#         ### Commit
#         ${{ steps.latest_release.outputs.commit_message }}
#         "@
#         echo $summary | Out-File -FilePath $Env:GITHUB_STEP_SUMMARY -Encoding utf8 -Append

#     - name: Create New Release
#       shell: pwsh
#       run: |
#         $tagName = '${{ steps.next_release.outputs.release_tag }}'
#         $body = @"
#         ${{ steps.latest_release.outputs.commit_message }}
#         "@

#         gh api --method POST -H "Accept: application/vnd.github+json" /repos/${{ github.repository }}/releases `
#           -f tag_name="$tagName" `
#           -f target_commitish="${{ github.sha }}" `
#           -f name="$tagName" `
#           -f body="$body" `
#           -F draft=false `
#           -F prerelease=false `
#           -F generate_release_notes=true
#       env:
#         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}        
